{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'style.css' %}" >

<header>
    <nav class="navbar navbar-light" style="background-color: #b08fb0;">
        <a class="navbar-brand" href="{% url 'project:all_medicines' %}" style="color: #7c327c">
            <h1> PetPharm </h1> </a>
        <form class="form-inline my-2 my-lg-0" action="{% url 'project:all_medicines' %}">
            <input class="form-control mr-sm-2" type="Поиск лекарства" placeholder="Поиск лекарства" aria-label="Поиск лекарства" name="search">
            <button class="btn btn-light" type="submit">Поиск</button>
        </form>
        {% if request.user.is_authenticated %}




            <div class="profile-image">
            {% if profile.image %}
                <p><img src="{{profile.image.url}}"></p>
            {% else %}
                <p></p>
            {% endif %}




                <a href="{% url "project:profile" %}" class="btn btn-light">Мой профиль</a>
                <a href="{% url "project:logout" %}" class="btn btn-light">Выйти </a>
            </div>

            {% else %}
            <div>
                <a href="{% url "project:login" %}" class="btn btn-light">Войти </a>
                <a href="{% url "project:register" %}" class="btn btn-light">Зарегистрироваться </a>
            </div>
        {% endif %} </nav>
    </nav>
</header>
</head>
<body>


<div class="container-flex mt-5" >
    <div class="row" >

        <div class="col-6 offset-md-2" >

        {% block body %}
            Content
        {% endblock %}

    </div>
    <div class="col-sm-10">

    </div>
</div>

</div>

{% if request.user.is_authenticated and request.user.is_staff %}
    <div class="admin-panel">
    <a href="/admin" class="btn btn-danger"> Admin</a>
    {% block admin-panel %} {% endblock %}
{% endif %}
</div>
</body>
</html>