{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MY DEFAULT TITLE{% endblock %}</title>
    <link href="{% static "style.css" %}" rel="stylesheet">

</head>
<body>
<header>
    {% if request.user.is_authenticated %}
            <a href="{% url "project:logout" %}">logout </a>
            <a href="{% url "project:profile" %}">profile </a>
    {% else %}
            <a href="{% url "project:login" %}">login </a><br>
            <a href="{% url "project:register" %}">register </a><br>
    {% endif %}
</header>

<div class="p-3 mb-2 bg-info text-dark">
<p class="fst-italic">PetPharm</p>
</div>


<div class="container-flex m-4">
    <div class="row">
        <div class="col-sm-2 px-sm-0 pr-sm-1">
            <div class="p-3 border border-primary rounded">
                {% block menu %}
                    All Medicines
                {% endblock %}
            </div>
        </div>
        <div class="col-sm-10 border border-primary rounded">
            {% block body %}{% endblock %}
        </div>
    </div>

    {#footer#}
    <div class="row mt-2 border border-primary rounded">
        <div class="col-sm-2 ">

        </div>
        <div class="col-sm-10">

        </div>
    </div>
</div>
</body>
</html>