{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{% block title %} PetPharm {% endblock %}</title>
<link href="{% static "style.css" %}" rel="stylesheet">

</head>
<body>
<header>
{% if request.user.is_authenticated %}
<a href="{% url "project:logout" %}">Выйти </a>
<a href="{% url "project:profile" %}">Мой профиль </a>
{% else %}
<a href="{% url "project:login" %}">Войти </a><br>
<a href="{% url "project:register" %}">Зарегистрироваться </a><br>
{% endif %}
</header>

<div class="p-3 mb-2 bg-info text-dark">
<p class="fst-italic">PetPharm</p>
</div>


<div class="container-flex mt-5">
    <div class="row">
        <div class="col-6 offset-md-2">
        {% block body %}
            Content
        {% endblock %}
        {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item {% if not prev_url %} disabled {% endif %}">
                        <a class="page-link" href="{{prev_url }}" tabelindex="-1">Предыдущая</a>
                    </li>


                    {% for n in page_object.paginator.page_range %}
                        {% if page_object.number == n %}
                            <li class="page-item active">
                                <a class="page-link" href="?page={{ n }}">{{ n }} <span
                                        class="sr-only">(current)</span></a>
                            </li>

                        {% elif n > page_object.number|add:-3 and page_object.number|add:3 %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <li class="page-item {% if not next_url %} disabled {% endif %}">
                        <a class="page-link" href="{{next_url }}" tabelindex="-1">Следуюшая</a>
                    </li>

                </ul>
        </nav>
        {% endif %}
    </div>
    <div class="col-sm-10">

    </div>
</div>

</div>
</body>
</html>
