{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Зарегистрироваться
{% endblock %}

{% block body %}
        <h1>Зарегистрироваться</h1>
        <form action="." method="post">
            {{ form.as_p }}
            <div class="form.as_p">
              <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">

            </div>
            {% csrf_token %}
            <input type="submit" value="Register!">
        </form>
{% endblock %}
