{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Login page
{% endblock %}

{% block body %}
    <h1> Вход на сайт </h1>
    {% if form.errors %}
        Пользователь не найден и/или пароль введен не верно
    {% else %}
        <form action="." method="post">
            {{ form|crispy }}
            {% csrf_token %}

        </form>

    {% endif %}
    <a class="dropdown-item" href="{% url "project:register" %}">Зарегистрироваться</a>
        <a class="dropdown-item" href="{% url "project:password_reset" %}"> Забыли пароль? </a>
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn btn-light">Войти</button>
{% endblock %}
