{% extends 'base.html' %}

{% block title %}
    Login page
{% endblock %}

{% block body %}
    <h1> Вход на сайт </h1>
    {% if form.errors %}
        Пользователь не найден и/или пароль введен не верно
    {% else %}
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" value="Войти">
        </form>
        <a href="{% url "project:password_reset" %}"> Забыли пароль? </a>
    {% endif %}
    <ul>

    </ul>
{% endblock %}
