{% extends 'base.html' %}

{% block title %}
    All Medicines
{% endblock %}

{% block body %}
    <h1> Все препараты </h1>
    {% for medicine in page_object.object_list %}
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ medicine.title }}</h2>
                <p class="card-text">    {{ medicine.body|truncatewords:15 }}  </p>
                <a href="{{ medicine.get_absolute_url }} " class="btn btn-light"> Подробнее </a><br>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}
