{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Share Medicine
{% endblock %}

{% block body %}
    {% if not sent %}
        <h1>Поделиться {{ medicine.title}} по электронной почте</h1>
        <form action="." method="post">
            {{ form | crispy }}
            {% csrf_token %}
            <input type="submit" value="Поделиться!" class="btn btn-light">
        </form>
    {% else %}
        Письмо было отправлено.
    {% endif %}
    <a href="{% url "project:all_medicines" %}" class="btn btn-light"> Ко всем материалам </a>
{% endblock %}