{% extends 'base.html' %}

{% block title %}
    Share Medicine
{% endblock %}

{% block body %}
    {% if not sent %}
        <h1>Поделиться {{ medicine.title}} по электронной почте</h1>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Share!" class="btn btn-light">
        </form>
    {% else %}
        Email has been sent.
    {% endif %}
    <a href="{% url "project:all_medicines" %}"> Ко всем материалам </a>
{% endblock %}